<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @library.name %>
</p>

<p>
  <b>University:</b>
  <%= @library.university %>
</p>

<p>
  <b>Location:</b>
  <%= @library.location %>
</p>

<p>
  <b>Max days:</b>
  <%= @library.max_days_undergrad %>
</p>

<p>
  <b>Max days:</b>
  <%= @library.max_days_grad %>
</p>

<p>
  <b>Max days:</b>
  <%= @library.max_days_phd %>
</p>

<%= link_to 'Edit', edit_library_path(@library) %> |
<%= link_to 'Back', libraries_path %>
