<p id="notice"><%= notice %></p>

<p>
  <strong>University:</strong>
  <%= University.find(@library.university_id).name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @library.location %>
</p>

<p>
  <strong>Name:</strong>
  <%= @library.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @library.location %>
</p>

<p>
  <strong>Max number of days a book can be issued without fines:</strong>
  <%= @library.max_days %>
</p>


<p>
  <strong>Fine per day:</strong>
  <%= @library.fine %>
</p>

<%= link_to 'My Library Books', university_library_lib_books_url(@university, @library) %> |
<%= link_to 'My Reservations', university_library_reservations_url(@university, @library) %> |
<%= link_to 'My Bookmarks', university_library_bookmarks_url(@university, @library) %> |
<%= link_to 'Edit', edit_university_library_path(@university, @library) %> |
<%= link_to 'Back', university_libraries_path %>
