<p id="notice"><%= notice %></p>

<h1>Reservations</h1>

<table>
  <thead>
    <tr>
      <th>Lib book</th>
      <th>User</th>
      <th>Status</th>
      <th>Checkoutstamp</th>
      <th>Returnstamp</th>
      <th>Requeststamp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.lib_book %></td>
        <td><%= reservation.user %></td>
        <td><%= reservation.status %></td>
        <td><%= reservation.checkoutstamp %></td>
        <td><%= reservation.returnstamp %></td>
        <td><%= reservation.requeststamp %></td>
<!--        <td><%#= link_to 'Show', reservation %></td>-->
<!--        <td><%#= link_to 'Edit', edit_reservation_path(reservation) %></td>-->
<!--        <td><%#= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
        <td><%= link_to 'Show', university_library_reservation_path(@university, @library, reservation) %></td>
        <td><%= link_to 'Edit', edit_university_library_reservation_path(@university, @library, reservation) %></td>
        <td><%= link_to 'Destroy', university_library_reservation_path(@university, @library, reservation), method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_university_library_reservation_path %>
<%= link_to 'Back', university_library_path(@university, @library) %>