<p id="notice"><%= notice %></p>

<p>
  <strong>Lib book:</strong>
  <%= @reservation.lib_book %>
</p>

<p>
  <strong>User:</strong>
  <%= @reservation.user %>
</p>

<p>
  <strong>Status:</strong>
  <%= @reservation.status %>
</p>

<p>
  <strong>Checkoutstamp:</strong>
  <%= @reservation.checkoutstamp %>
</p>

<p>
  <strong>Returnstamp:</strong>
  <%= @reservation.returnstamp %>
</p>

<p>
  <strong>Requeststamp:</strong>
  <%= @reservation.requeststamp %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
