<%= form_with(model: book, local: true) do |f| %>
<%#= form_for @book do |f| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :isbn %><br />
    <%= f.text_field :isbn %>
  </div>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>

<!--  TODO: language dropdown-->
  <div class="field">
    <%= f.label :language %><br />
    <%= f.text_field :language %>
  </div>

  <div class="field">
    <%= f.label :published %><br />
    <%= f.date_field :published %>
  </div>

  <div class="field">
    <%= f.label :edition %><br />
    <%= f.number_field :edition %>
  </div>

  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>

<!--  #TODO: use select field-->
  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </div>

  <div class="field">
    <%= f.label :summary %><br />
    <%= f.text_area :summary %>
  </div>

  <div class="field">
    <%= f.label :is_special_collection_items %><br />
    <%= f.label :option_1, "Yes", :value => "True" %>
    <%= f.radio_button :is_special_collection_item, true%>
    <%= f.label :option_2, "No", :value => "False" %>
    <%= f.radio_button :is_special_collection_item, false%>
  </div>

  <%#= f.label :category_id %>
  <%#= select("recipe", "category_id", Category.all.collect{ |c| [ c.name, c.id] }) %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
