<p id="notice"><%= notice %></p>

<h1>Books</h1>
<% if current_user.usertype == "admin" %>
<%= form_tag(books_path, :method => 'get') do %>
  Title <%= text_field_tag :title, params[:title]  %>
  Author <%= text_field_tag :author, params[:author] %>
  Publication Date : <%= date_field_tag :published, params[:published] %>
  Subject: <%= text_field_tag :subject, params[:subject] %>
  <%= submit_tag("Search", :id=>"true", :name=>"search") %>
<% end %>
<br>
<br>
<table>
  <tr>
    <th>ISBN</th>
    <th>Title</th>
    <th>Author</th>
    <th>Language</th>
    <th>Published</th>
    <th>Edition</th>
    <th>Subject</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= book.isbn %></td>
          <td><%= book.title %></td>
          <td><%= book.author %></td>
          <td><%= book.language %></td>
          <td><%= book.published %></td>
          <td><%= book.edition %></td>
          <td><%= book.subject %></td>
          <td><%= link_to 'Show', book %></td>
          <td><%= link_to 'Edit', edit_book_path(book) %></td>
          <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
  <%else %>
  <h3>You don't have permission to view this page</h3>
  <% end %>
