<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <% if (current_user.id == @user.id) || @user.new_record? %>
  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <% end %>

  <% if (current_user.id != @user.id) && current_user.usertype == "admin"%>
  <div class="field">
    <%= form.label :usertype %>
    <%= form.select(:usertype, [['Librarian','librarian'], ['Student - Doctoral (PhD)','studentPhD'],['Student - Grad','studentG'],['Student - Undergrad','studentUG']], {:prompt => 'Select One'}, {:onchange => "if(this.options[this.selectedIndex].value == 'librarian') { $('#Library')[0].style.display = 'inline';} else { $('#Library')[0].style.display = 'none';}"}) %>
  </div>
  <% end %>

  <% if ((current_user.id != @user.id) && current_user.usertype == "admin") || current_user.usertype == "librarian" && ((current_user.id == @user.id) || @user.new_record?) %>
  <div class="field">
    <%= form.label :Universities %>
    <%= form.select(:university_id, University.all.reject { |u| u.name == "default" }.collect{ |c| [ c.name , c.id] }, {:prompt => 'Select One'}) %>
  </div>
  <% end %>

  <div id="Library" style="display:none;"<%= form.label :library %><br />
  <%= form.select(:library_id, [], {:prompt => 'Select One'}) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
    var seperator = "$$"
    <%  @all_libraries = {}
        University.all.each do |university|
          @all_libraries[university.id] = []
          university.libraries.each do |library|
            @all_libraries[university.id].append(library.name.to_s + "$$" + library.id.to_s)
          end
        end
    %>
    libraries =  <%=  @all_libraries.to_json.html_safe %>
        function update_values() {
            $("#user_library_id").empty();
            var selected_university = $("#user_university_id").val();
            if (selected_university.length > 0) {
                libraries_to_show = libraries[selected_university]
                libraries_to_show.forEach(function(library) {
                    $("#user_library_id").append(new Option(library.split(seperator)[0], library.split(seperator)[1]));
                })
            }

        }
    $("#user_university_id").change(function() {update_values()})
</script>