<p id="notice"><%= notice %></p>

<h1><%= @category.capitalize %> Reservations</h1>
<% if current_user.usertype == "studentG" %>
  <h4> You are allowed to checkout a total of <%= @university.grad_books_limit %> books at any given time as per university rules </h4>
<% elsif current_user.usertype == "studentUG" %>
  <h4> You are allowed to checkout a total of <%= @university.ug_books_limit %> books at any given time as per university rules </h4>
<% elsif current_user.usertype == "studentPhD" %>
  <h4> You are allowed to checkout a total of <%= @university.phd_books_limit %> books at any given time as per university rules </h4>
<% end %>
A fine of $<%= @library.fine %> per day will be levied if a book is not returned within <%= @library.max_days %> days of issue.
</br></br>
<table>
  <thead>
    <tr>
      <% if current_user.usertype == "admin" || current_user.usertype == "librarian" %>
        <th>User Name</th>
        <th>User Email</th>
        <th>Degree Level</th>
      <% end %>
      <th>Title</th>
      <th>Status</th>
      <% if !@category.eql?"requested" %>
        <th>Checkout Time</th>
        <th>Return Time</th>
        <th>Overdue Fine</th>
      <% end %>
      <th>Request Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody align="center">
    <% @reservations.each do |reservation| %>
      <tr>
        <% if current_user.usertype == "admin" || current_user.usertype == "librarian"
          @user = User.find_by_id(reservation.user_id)
        %>
          <td><%=  @user.name %></td>
          <td><%=  @user.email %></td>
          <% if @user.usertype == "studentG" %>
            <td>Graduate</td>
          <% elsif @user.usertype == "studentUG" %>
            <td>UnderGraduate</td>
          <% elsif @user.usertype == "studentPhD" %>
            <td>PhD</td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
        <td><%= Book.find_by_id(reservation.lib_book.book_id).title %></td>
        <% if reservation.status == 0 %>
          <td> Returned </td>
        <% elsif reservation.status == 1 %>
          <td> Checked out </td>
        <% elsif reservation.status == 2 %>
          <td> Requested </td>
        <% else %>
          <td> Unknown </td>
        <% end %>
        <% if !@category.eql?"requested" %>
          <td><%= reservation.checkoutstamp %></td>
          <td><%= reservation.returnstamp %></td>
          <td><%= reservation.fine %></td>
        <% end %>
        <td><%= reservation.requeststamp %></td>
        <td><%= link_to 'View Details', university_library_reservation_path(@university, @library, reservation) %></td>
        <% if reservation.status == 2 %>
          <td><%= link_to 'Destroy', university_library_reservation_path(@university, @library, reservation), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <% if reservation.status == 2 && current_user.usertype == "librarian" && current_user.library_id == @library.id %>
          <td><%= link_to 'Approve', {:controller => "reservations", :action => "update", :id=> reservation.id, params: {reservation: {:lib_book_id=> reservation.lib_book.id, :status=> 1, :checkoutstamp => Time.now() }} }, {:method=>:put}  %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back', university_library_path(@university, @library) %>