<p id="notice"><%= notice %></p>

<h1>Books in <%= @library.name %> library, <%= @university.name %></h1>
<% if current_user.usertype == "studentG" %>
  <h4> You are allowed to checkout a total of <%= @university.grad_books_limit %> books at any given time as per university rules </h4>
<% elsif current_user.usertype == "studentUG" %>
  <h4> You are allowed to checkout a total of <%= @university.ug_books_limit %> books at any given time as per university rules </h4>
<% elsif current_user.usertype == "studentPhD" %>
  <h4> You are allowed to checkout a total of <%= @university.phd_books_limit %> books at any given time as per university rules </h4>
<% end %>

<br><br>
<%= form_tag(university_library_lib_books_path, :method => 'get') do %>
  Title <%= text_field_tag :title, params[:title]  %>
  Author <%= text_field_tag :author, params[:author] %>
  Publication Date : <%= date_field_tag :published, params[:published] %>
  Subject: <%= text_field_tag :subject, params[:subject] %>
  <%= submit_tag("Search", :id=>"true", :name=>"search") %>
<% end %>
<br><br>
<table>
  <thead>
    <tr>
      <th>Book</th>
      <th>Author</th>
      <th>Is special</th>
      <th>Quantity</th>
      <th>Available</th>
      <th>Requests</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lib_books.each do |lib_book|
          @book = Book.find(lib_book.book_id)
          @available = lib_book.quantity - Reservation.where(:lib_book => lib_book.id).where(:status => 1).count()
          @bookmark = Bookmark.where(:user_id => current_user.id).where(:lib_book => lib_book.id).first()
    %>
      <tr>
        <td><%= link_to @book.title, book_path(lib_book.book_id) %></td>
        <td><%= @book.author %></td>
        <td><%= (@book.is_special_collection_item == true) ? "Yes" : "No" %></td>
        <td><%= lib_book.quantity %></td>
        <td><%= @available %></td>
        <td><%= Reservation.where(:lib_book => lib_book.id).where(:status => 2).count() %></td>
        <% if current_user.usertype == "studentG" || current_user.usertype == "studentUG" || current_user.usertype == "studentPhD" %>
          <% if @available > 0 && @book.is_special_collection_item == false && @num_existing_reservations < @book_limit%>
            <td><%= button_to 'Checkout', {:controller => "reservations", :action => "create", params: {reservation: {:lib_book_id=> lib_book.id, :user_id=> current_user.id, :status=>1 }} }, {:method=>:post}  %></td>
          <% else %>
            <td><%= button_to 'Request', {:controller => "reservations", :action => "create", params: {reservation: {:lib_book_id=> lib_book.id, :user_id=> current_user.id, :status=>2 }} }, {:method=>:post}  %></td>
          <% end %>
          <%  if current_user.usertype == "studentG" || current_user.usertype == "studentUG" || current_user.usertype == "studentPhD" %>
            <% if @bookmark.eql?nil %>
              <td><%= button_to 'Bookmark', {:controller => "bookmarks", :action => "create", params: {bookmark: {:lib_book_id=> lib_book.id, :user_id=> current_user.id}} }, {:method=>:post}  %></td>
            <% else %>
              <td><%= button_to 'Remove Bookmark', university_library_bookmark_path(@university, @library, @bookmark), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          <% end %>
        <% end %>
        <td><%= link_to 'Show', university_library_lib_book_path(@university, @library, lib_book) %></td>
        <% if (current_user.usertype == "librarian" && current_user.library_id == @library.id) || current_user.usertype == "admin" %>
          <td><%= link_to 'Edit', edit_university_library_lib_book_path(@university, @library, lib_book) %></td>
          <td><%= link_to 'Destroy', university_library_lib_book_path(@university, @library, lib_book), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if (current_user.usertype == "librarian" && current_user.library_id == @library.id) || current_user.usertype == "admin" %>
  <%= link_to 'Add Book To Library', new_university_library_lib_book_path %> |
<% end %>

<%= link_to 'Back', university_library_path(@university, @library) %>