<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <% if (current_user.id == @user.id) || @user.new_record? %>
  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <% end %>

  <% if (current_user.id != @user.id) && current_user.usertype == "admin"%>
  <div class="field">
    <%= form.label :usertype %>
    <%= form.select(:usertype, [['Librarian','librarian'], ['Student - Doctoral (PhD)','studentPhD'],['Student - Grad','studentG'],['Student - Undergrad','studentUG']], {:prompt => 'Select One'}, {:onchange => "if(this.options[this.selectedIndex].value == 'librarian') { $('#Library')[0].style.display = 'inline';} else { $('#Library')[0].style.display = 'none';}"}) %>
  </div>
  <% end %>

  <% if ((current_user.id != @user.id) && current_user.usertype == "admin") || current_user.usertype == "librarian" && ((current_user.id == @user.id) || @user.new_record?) %>
  <div class="field">
    <%= form.label :Universities %>
    <%= select_tag :university_id, options_for_select(University.all.reject { |u| u.name == "default" }.collect{ |c| [ c.name , c.id] }, selected: params[:university_id]),
    prompt: "Select University", class: "form-control", :onchange => "myFunction();" %>
  </div>
  <% end %>

  <div id="Library" style="display:none;"<%= form.label :library %><br />
  <%= select_tag :Library, options_for_select(libraries.collect{|p| [p.name, p.id]}, selected: params[:library_id]),
  prompt: "Select Library", class: "form-control" %>
  </div>

  <div id = "responsecontainer"> </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
    function myFunction() {
        Rails.ajax({
            url: "http://localhost:3000/universities/2/libraries",
            type: "get",
            data:"",
            success: function (data) {
                console.log(data)
            },
            error: function (data) {
            }
        })

        // Rails.ajax(url: "/universities/2/librarie").done (html) ->
        // alert('test')// $("#results").append html

        // var university = $(this).val();
        // $.ajax({
        //     url: '/universities/2/libraries'
        //     method: "GET",
        //     dataType: "json",
        //     // data: {country: country},
        //     error: function (xhr, status, error) {
        //         console.error('AJAX Error: ' + status + error);
        //     },
        //     success: function (response) {
        // //         console.log(response);
        // //         let libraries = response["libraries"];
        // //         $("#Library select").empty();
        // //
        // //         $("#Library select").append('<option>Select Library</option>');
        // //         for (let i = 0; i < libraries.length; i++) {
        // //             $("#Library select").append('<option value="' + libraries[i]["id"] + '">' + libraries[i]["name"] + '</option>');
        // //         }
        //     }
        // });
    }
</script>
