<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @university.name %>
</p>

<p>
  <strong>UG Book Limit:</strong>
  <%= @university.ug_books_limit %>
</p>

<p>
  <strong>Grad Book Limit:</strong>
  <%= @university.grad_books_limit %>
</p>

<p>
  <strong>PhD Book Limit:</strong>
  <%= @university.phd_books_limit %>
</p>

<%= link_to 'My Libraries', university_libraries_url(@university) %> |
<%= link_to 'Edit', edit_university_path(@university) %> |
<%= link_to 'Back', universities_path %>
